@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Inter';
  position: relative;
}
body::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-image: url('./assets/img_02.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -10;
}